* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #4c6986;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restart {
  margin-top: 30px;
  width: 175px;
  height: 50px;
  display: flex;
  border: 2px solid #4c6986;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  font-weight: bold;
}

.title {
  max-width: 500px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.restart:hover {
  color: white;
  background-color: #4c6986;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.header {
  display: flex;
  color: #9a9a9a;
  font-size: 24px;
}

.header .player-X {
  flex: 1;
  border-bottom: 5px solid #eee;
  padding-bottom: 8px;
}

.player-X.active {
  color: #43bed7;
  border-color: #43bed7;
}

.player-O.active {
  color: #d7bafb;
  border-color: #d7bafb;
}

.header .player-O {
  flex: 1;
  padding-bottom: 8px;
  border-bottom: 5px solid #eee;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  flex-grow: 1;
  padding: 10px;
}

.board-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  cursor: pointer;
  background: white;
}

.board-tile:not(:nth-child(3n)) {
  border-right: 3px solid rgba(137, 163, 189, 0.7);
}

.board-tile:not(:nth-last-child(-n + 3)) {
  border-bottom: 3px solid rgba(137, 163, 189, 0.7);
}

.board-tile:hover {
  background-color: #eee;
}

.tile-x {
  color: #43bed7;
}

.tile-o {
  color: #d7bafb;
}

.tile-winner span {
  color: #23ce68;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
  }

  .left {
    margin-bottom: 50px;
  }
  h1 {
    font-size: 1.8rem;
  }
}
